{% extends 'store/main.html' %}
{% load static %}

{% block title %}e-SHOP | Store{% endblock title %}

{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{ product.get_imageurl }}" />
        <div class="box-element product">
            <h6><strong>{{ product.name }}</strong></h6>
            <hr />

            <button class="btn btn-outline-secondary update-cart" data-product="{{ product.id }}" data-action="add">Add to Cart</button>

            <a class="btn btn-outline-success" href="product/{{ product.id }}">View</a>
            
            <div class="clearfix">
                <h4 style="display: inline-block; ">
                    <strong>Rs {{ product.price | floatformat:2 }}</strong>
                </h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}

{% block script %}
<script>

</script>
{% endblock script %}
